<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName "{{ ansible_default_ipv4.address }}"
    ServerAlias "{{ ansible_default_ipv4.address }}"
    DocumentRoot "{{ wordpress_path }}"
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory "{{ wordpress_path }}">
          Options -Indexes
          AllowOverride All
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

</VirtualHost>
